/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.kiro/
*.log
*.db
.DS_Store
Thumbs.db

# 插件市场相关
/public/plugins/*
!/public/plugins/.gitkeep
/storage/plugins/*
!/storage/plugins/.gitkeep
